h1 {
    font-family : 'Lobster';
    font-weight : normal;
    font-size : 54px;
    text-align: center;
}
h1.error {
    color: red;
}
h1.highlight {
    color: hotpink;
}
h3 {
    text-align: center;
}

ul {
    list-style-type: none;
}
li {
    font-size: 32px;
    padding-top: 15px;
    padding-bottom: 15px;
}
a {
    background-color: white;
    padding: 5px;
    margin: 5px;
    font-size: 32px;
    color: black;
    font-weight : bold;
    text-decoration: none;
}

a.small {
    font-size: 20px;
}

i.small {
    font-size: 20px;
}

a:hover {
    background-color: hotpink;
}

.center {
    margin: auto;
    width: 50%;
    padding: 10px;
    position: relative;
}

.acabitem {
    position: relative;
}

.votebuttons {
    position: absolute;
    right: 0px;
    top: 0px;
}

body {
    color: white;
    font-family : 'Roboto';
    font-weight : normal;
    background-color: black;
}
