h1 {
    font-family : 'Lobster';
    font-weight : normal;
    font-size : 54px;
    text-align: center;
}
h1.error {
    color: red;
}
h1.highlight {
    color: hotpink;
}
h3 {
    text-align: center;
}
li {
    font-size: 24px;
}
a {
    background-color: white;
    padding: 5px;
    margin: 5px;
    font-size: 32px;
    color: black;
    font-weight : bold;
    text-decoration: none;
}

a:hover {
    background-color: hotpink;
}

.center {
    margin: auto;
    width: 50%;
    padding: 10px;
}
body {
    color: white;
    font-family : 'Roboto';
    font-weight : normal;
    background-color: black;
}
