{% extends "layout.html" %}
{% block body %}
    <h1>~ all {{ gen.c.capitalize() }} are {{ gen.b.capitalize() }} ~</h1>
    {% if gen.source %}
        <h3> {{ gen.source }} </h3>
    {% endif %}
    <a href="{{url_for('vote', b = gen.b, c = gen.c)}}">
        <i class="material-icons">favorite</i> witzig
    </a>
    <a href="{{url_for('index')}}">
        <i class="material-icons">shuffle</i> random
    </a>
    <a href="{{url_for('list')}}">
        <i class="material-icons">list</i> top
    </a>
    <a href="https://github.com/towa/acab_gen" target="blank">
        <i class="material-icons">code</i> code
    </a>
{% endblock %}
