{% extends "layout.html" %}
{% block body %}
    <h1 class="highlight">~ all Combinations are beautiful ~</h1>
    <a href="{{ url_for('index') }}">
        <i class="material-icons">arrow_back</i> back
    </a>
    <div class="center">
        <ul>
        {% for acab in lst %}
            <li>
                <div class="acabitem">
                    all {{ acab.c.capitalize() }} are {{ acab.b.capitalize() }}
                    <div class="votebuttons">
                        <a class="small" href="{{ url_for('vote', c = acab.c, b = acab.b) }}">
                            <i class="material-icons small">favorite</i> witzig ({{ acab.votes }})
                        </a>
                        <a class="small" href="{{ url_for('vote', c = acab.c, b = acab.b, downvote = True) }}">
                            <i class="material-icons small">thumb_down</i> nicht witzig
                        </a>
                    <div>
                </div>
            </li>
        {% endfor %}
        </ul>
    </div>
{% endblock %}
